// Utilities

$utilities ?= {} !default;

$utility-align ?= {
  property: vertical-align
  class: align
  values: baseline, top, middle, bottom, text-bottom, text-top
}

$utility-float ?= {
  responsive: true
  property: float
  values: left, right, none
}

$utility-overflow ?= {
  property: overflow
  values: auto, hidden
}

$utility-display ?= {
  responsive: true,
  print: true,
  property: display,
  class: d,
  values: inline inline-block block table table-row table-cell flex inline-flex none
}

$utility-shadow ?= {
  property: box-shadow
  class: shadow
  values: {
    null: $box-shadow
    sm: $box-shadow-sm
    lg: $box-shadow-lg
    none: none
  }
}

$utility-position ?= {
  property: position,
  values: static relative absolute fixed sticky
}
$utility-border ?= {
  property: border,
  values: (
    null: $border-width solid $border-color,
    0: 0,
  )
}
$utility-border-top ?= {
  property: border-top,
  values: (
    null: $border-width solid $border-color,
    0: 0,
  )
}

$utility-border-right ?= {
  property: border-right,
  values: (
    null: $border-width solid $border-color,
    0: 0,
  )
}

$utility-border-bottom ?= {
  property: border-bottom,
  values: (
    null: $border-width solid $border-color,
    0: 0,
  )
}

$utility-border-left ?= {
  property: border-left,
  values: (
    null: $border-width solid $border-color,
    0: 0,
  )
}

$utility-border-color ?= {
  property: border-color,
  class: border,
  values: map-merge($theme-colors, ("white": $white))
}

$utility-border-width ?= {
  property: border-width,
  class: border,
  values: $border-widths
}

// Sizing utilities
$utility-width ?= {
  property: width,
  class: w,
  values: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  )
}

$utility-max-width ?= {
  property: max-width,
  class: mw,
  values: (100: 100%)
}

$utility-viewport-width ?= {
  property: width,
  class: vw,
  values: (100: 100vw)
}

$utility-min-viewport-width ?= {
  property: min-width,
  class: min-vw,
  values: (100: 100vw)
}

$utility-height ?= {
  property: height,
  class: h,
  values: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  )
}

$utility-max-height ?= {
  property: max-height,
  class: mh,
  values: (100: 100%)
}

$utility-viewport-height ?= {
  property: height,
  class: vh,
  values: (100: 100vh)
}

$utility-min-viewport-height ?= {
  property: min-height,
  class: min-vh,
  values: (100: 100vh)
}

// Padding utilities
$utility-padding ?= {
  responsive: true,
  property: padding,
  class: p,
  values: $spacers
}

$utility-padding-x ?= {
  responsive: true,
  property: padding-right padding-left,
  class: px,
  values: $spacers
}

$utility-padding-y ?= {
  responsive: true,
  property: padding-top padding-bottom,
  class: py,
  values: $spacers
}

$utility-padding-top ?= {
  responsive: true,
  property: padding-top,
  class: pt,
  values: $spacers
}

$utility-padding-right ?= {
  responsive: true,
  property: padding-right,
  class: pr,
  values: $spacers
}

$utility-padding-bottom ?= {
  responsive: true,
  property: padding-bottom,
  class: pb,
  values: $spacers
}

$utility-padding-left ?= {
  responsive: true,
  property: padding-left,
  class: pl,
  values: $spacers
}

// Text
$utility-font-weight ?= {
  property: font-weight,
  values: (
    light: $font-weight-light,
    lighter: $font-weight-lighter,
    normal: $font-weight-normal,
    bold: $font-weight-bold,
    bolder: $font-weight-bolder
  )
}
$utility-text-transform ?= {
  property: text-transform,
  class: text,
  values: lowercase uppercase capitalize
}
$utility-text-align ?= {
  responsive: true,
  property: text-align,
  class: text,
  values: left right center
}
$utility-color ?= {
  property: color,
  class: text,
  values: map-merge(
    $theme-colors,
    (
      "white": $white,
      "body": $body-color,
      "muted": $text-muted,
      "black-50": rgba($black, .5),
      "white-50": rgba($white, .5),
      "reset": inherit,
    )
  )
}
$utility-line-height ?= {
  property: line-height,
  class: lh,
  values: (
    1: 1,
    sm: $line-height-sm,
    base: $line-height-base,
    lg: $line-height-lg,
  )
}
$utility-background-color ?= {
  property: background-color,
  class: bg,
  values: map-merge(
    $theme-colors,
    (
      "body": $body-bg,
      "white": $white,
      "transparent": transparent
    )
  )
}
$utility-gradient ?= {
  property: background-image,
  class: bg,
  values: (gradient: var(--bs-gradient))
}
$utility-white-space ?= {
  property: white-space,
  class: text,
  values: (
    wrap: normal,
    nowrap: nowrap,
  )
}
$utility-text-decoration ?= {
  property: text-decoration,
  values: none underline line-through
}
$utility-font-style ?= {
  property: font-style,
  class: font,
  values: italic normal
}
$utility-word-wrap ?= {
  property: word-wrap word-break,
  class: text,
  values: (break: break-word)
}
$utility-font-family ?= {
  property: font-family,
  class: font,
  values: (monospace: var(--bs-font-monospace))
}
$utility-user-select ?= {
  property: user-select,
  values: all auto none
}
$utility-pointer-events ?= {
  property: pointer-events,
  class: pe,
  values: none auto,
}
$utility-rounded ?= {
  property: border-radius,
  class: rounded,
  values: (
    null: $border-radius,
    sm: $border-radius-sm,
    lg: $border-radius-lg,
    circle: 50%,
    pill: $rounded-pill,
    0: 0,
  )
}
$utility-rounded-top ?= {
  property: border-top-left-radius border-top-right-radius,
  class: rounded-top,
  values: (null: $border-radius)
}
$utility-rounded-right ?= {
  property: border-top-right-radius border-bottom-right-radius,
  class: rounded-right,
  values: (null: $border-radius)
}
$utility-rounded-bottom ?= {
  property: border-bottom-right-radius border-bottom-left-radius,
  class: rounded-bottom,
  values: (null: $border-radius)
}
$utility-rounded-left ?= {
  property: border-bottom-left-radius border-top-left-radius,
  class: rounded-left,
  values: (null: $border-radius)
}
$utility-visibility ?= {
  property: visibility,
  class: null,
  values: (
    visible: visible,
    invisible: hidden,
  )
)

$utilities = merge({
  align: $utility-align,
  float: $utility-float,
  overflow: $utility-overflow,
  display: $utility-display,
  shadow: $utility-shadow,
  position: $utility-position,
  border: $utility-border,
  border-top: $utility-border-top,
  border-right: $utility-border-right,
  border-bottom: $utility-border-bottom,
  border-left: $utility-border-left,
  border-color: $utility-border-color,
  border-width: $utility-border-width,

  // Sizing utilities
  width: $utility-width,
  max-width: $utility-max-width,
  viewport-width: $utility-viewport-width,
  min-viewport-width: $utility-min-viewport-width,
  height: $utility-height,
  max-height: $utility-max-height,
  viewport-height: $utility-viewport-height,
  min-viewport-height: $utility-min-viewport-height,

  // Flex utilities
  flex: $utility-flex,
  flex-direction: $utility-flex-direction,
  flex-grow: $utility-flex-grow,
  flex-shrink: $utility-flex-shrink,
  flex-wrap: $utility-flex-wrap,
  justify-content: $utility-justify-content,
  align-items: $utility-align-items,
  align-content: $utility-align-content,
  align-self: $utility-align-self,
  order: $utility-order,

  // Margin utilities
  margin: $utility-margin,
  margin-x: $utility-margin-x,
  margin-y: $utility-margin-y,
  margin-top: $utility-margin-top,
  margin-right: $utility-margin-right,
  margin-bottom: $utility-margin-bottom,
  margin-left: $utility-margin-left,

  // Negative margin utilities
  negative-margin: $utility-negative-margin,
  negative-margin-x: $utility-negative-margin-x,
  negative-margin-y: $utility-negative-margin-y,
  negative-margin-top: $utility-negative-margin-top,
  negative-margin-right: $utility-negative-margin-right,
  negative-margin-bottom: $utility-negative-margin-bottom,
  negative-margin-left: $utility-negative-margin-left,

  // Padding utilities
  padding: $utility-padding,
  padding-x: $utility-padding-x,
  padding-y: $utility-padding-y,
  padding-top: $utility-padding-top,
  padding-right: $utility-padding-right,
  padding-bottom: $utility-padding-bottom,
  padding-left: $utility-padding-left,

  // Text
  font-weight: $utility-font-weight,
  text-transform: $utility-text-transform,
  text-align: $utility-text-align,
  color: $utility-color,
  line-height: $utility-line-height,
  background-color: $utility-background-color,
  gradient: $utility-gradient,
  white-space: $utility-white-space,
  text-decoration: $utility-text-decoration,
  font-style: $utility-font-style,
  word-wrap: $utility-word-wrap,
  font-family: $utility-font-family,
  user-select: $utility-user-select,
  pointer-events: $utility-pointer-events,
  rounded: $utility-rounded,
  rounded-top: $utility-rounded-top,
  rounded-right: $utility-rounded-right,
  rounded-bottom: $utility-rounded-bottom,
  rounded-left: $utility-rounded-left,
  visibility: $utility-visibility,
}, $utilities)


