$utility-negative-margin ?= {
  responsive: true
  property: margin
  class: m
  values: $negative-spacers
}

$utility-negative-margin-x ?= {
  responsive: true
  property: margin-right, margin-left
  class: mx
  values: $negative-spacers
}

$utility-negative-margin-y ?= {
  responsive: true
  property: margin-top, margin-bottom
  class: my
  values: $negative-spacers
}

$utility-negative-margin-top ?= {
  responsive: true
  property: margin-top
  class: mt
  values: $negative-spacers
}

$utility-negative-margin-right ?= {
  responsive: true
  property: margin-right
  class: mr
  values: $negative-spacers
}

$utility-negative-margin-bottom ?= {
  responsive: true
  property: margin-bottom
  class: mb
  values: $negative-spacers
}

$utility-negative-margin-left ?= {
  responsive: true
  property: margin-left
  class: ml
  values: $negative-spacers
}

$utilities-negative-margin-x ?= {
  negative-margin-x: $utility-negative-margin-x,
  negative-margin-right: $utility-negative-margin-right,
  negative-margin-left: $utility-negative-margin-left,
}

$utilities-negative-margin-y ?= {
  negative-margin-y: $utility-negative-margin-y,
  negative-margin-top: $utility-negative-margin-top,
  negative-margin-bottom: $utility-negative-margin-bottom,
}

$utilities-negative-margin ?= merge(
  $utilities-negative-margin-x, 
  $utilities-negative-margin-y, {
    negative-margin: $utility-negative-margin,
  }
)
