image(
  $base = {},
  $baseClass = "." + $viewPrefix + "Image",
  $wrapClass = $baseClass + "--wrap",
)
  {$baseClass}
    opacity: 0
    {$base}
    
    &.loaded
      opacity: 1

  {$wrapClass}
    relative()
    display: block
    height: 0
    
    {$tyny-image-wrapper}

    > img
      absolute(0, false, false, 0)
      width: 100%
      height: 100%