.tynyTabs--bodies
  position: relative

.tynyTabs--body
  position: absolute
  overflow: hidden
  visibility: hidden
  height: 0

  &.active
    position: static
    visibility: inherit
    height: auto
