@mixin image(
  $base: (),
  $baseClass: '.' + $tyny-view-prefix + 'Image',
  $wrapClass: $baseClass + '--wrap'
) {
  #{$baseClass} {
    @include writeRules($base);
    opacity: 0;

    &.loaded {
      opacity: 1;
    }
  }

  #{$wrapClass} {
    @include relative();
    @include writeRules($tyny-image-wrapper);
    display: block;
    height: 0;

    > img {
      @include absolute(0, false, false, 0);
      width: 100%;
      height: 100%;
    }
  }
}
