@use 'sass:math';

$numColumns: 12 !default;
$widths: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) !default;
$offsets: $widths !default;

@mixin width($suffix: '', $numColumns: $numColumns, $widths: $widths) {
  @each $width in $widths {
    .width-#{$width}#{$suffix} {
      @if $width == $numColumns {
        width: 100%;
      } @else if $width == 1 {
        // prettier-ignore
        width: calc(
          ((100% - var(--gap, 0px) * #{$numColumns - 1}) * #{math.div($width, $numColumns)}) 
        );
      } @else {
        // prettier-ignore
        width: calc(
          ((100% - var(--gap, 0px) * #{$numColumns - 1}) * #{math.div($width, $numColumns)}) +
          (var(--gap, 0px) * #{$width - 1})
        );
      }
    }
  }
}

@mixin width-offset($suffix: '', $numColumns: $numColumns, $offsets: $offsets) {
  @each $offset in $offsets {
    .offset-#{$offset}#{$suffix} {
      // prettier-ignore
      margin-left: calc(
          ((100% - var(--gap, 0px) * #{$numColumns - 1}) * #{math.div($offset, $numColumns)}) +
          (var(--gap, 0px) * #{$offset})
        );
    }
  }
}
