.tynyResizer
  position: relative
  height: 400px
  max-width: 100%
  min-height: 50px
  min-width: 50px
  padding: 0 10px 10px 0

  border: 1px solid #ccc
  user-select: none

.tynyResizer--handle
  position: absolute
  background: #ccc

  &.handleRight
    top: 0
    right: 0
    bottom: 0
    width: 10px

  &.handleBottom
    right: 0
    bottom: 0
    left: 0
    height: 10px
