$gutter: 32px !default;

@mixin writeRules($rules: ()) {
  @each $key, $value in $rules {
    #{$key}: $value;
  }
}

@mixin gap($gap) {
  gap: $gap;
  --gap: #{$gap};
}

@mixin gridRow($gutter: $gutter) {
  @include gap($gutter);
  display: flex;
  flex-flow: row wrap;
}
