make-container($padding-x = $container-padding-x)
  width: 100%
  padding-right: $padding-x
  padding-left: $padding-x
  margin-right: auto
  margin-left: auto

// Output
// ------

.container,
.container-fluid
  make-container()

for $breakpoint, $container-max-width in $container-max-widths
  .container-{$breakpoint}
    @extend .container-fluid

  +breakpoint($breakpoint, $grid-breakpoints)
    $responsive-container-{$breakpoint}
      max-width: $container-max-width

    $extend-breakpoint = true

    for $name, $width in $grid-breakpoints
      if $extend-breakpoint
        .container{breakpoint-suffix($name, $grid-breakpoints)}
          @extend $responsive-container-{$breakpoint}

        if $breakpoint == $name
          $extend-breakpoint = false
